/* .outer-container{
    align-content: space-around;
} */

.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-text{
    margin:right 100px;
    border-radius: 20px;
    float: right;
    width: 450px;
    height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
}

.logo-image{
    margin: auto;
    margin-left: 16%;
    border-radius: 15px;
    background-color: white;
}

.info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.people-menu, .logs-menu{
    margin: auto;
    border: 0.1%;
    border-radius: 15px;
    border-width: 0.5%;
    height: 360px;
    width: 20%;
    background-color: white;
}

.map {
    margin: auto;
    border: 0.1%;
    border-radius: 15px;
    border-width: 0.5%;
    height: 615px;
    width: 40%;
    background-color: white;
}

.pm{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.icon{
    height: 45px;
    width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-align: center;
}

h2{
    background-color:#d1d1e0;
}

body{
    background-color: #33000f;
}

