.logo-container{
    display: flex;
    flex-direction: row;
}

.icon{
    /* make them all a consistent size*/
    
}

.logo{
    /* border: solid; */
}

.info-container{
    display: flex;
    flex-direction: row;
}

.people-menu, .logs-menu{
    margin: auto;
    border: 0.5%;
    border-style: solid;
    border-color:#80002a;
    border-width: 1%;
    height: 40%;
    width: 20%;
}

.map {
    margin: auto;
    border: 0.5%;
    border-style: solid;
    border-color:#80002a;
    border-width: 1%;
    height: 40%;
    width: 40%;
}